<link href="/static/vs/vis.css" rel="stylesheet">
<script type="text/javascript" src="/static/vs/vis.js"></script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox float-e-margins" >
            <div class="ibox-title" style="">
                <h2>文件节点流转记录</h2>
            </div>

            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>嵌入日期</th>
                            <th>源节点</th>
                            <th>目标节点</th>
                            <th>用户</th>
                            <th>水印编号</th>
                            <th>水印内容</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $list as $key=>$value}
                        <tr>
                            <td>{$key+1}</td>
                            <td>{$value.embedTime}</td>
                            <td>{$value.sourceNodeName}</td>
                            <td>{$value.destNodeName}</td>
                            <td>{$value.userName}</td>
                            <td>{$value.watermarkIndex}</td>
                            <td>{$value.watermarkContent}</td>
                            <td>{$value.remark}</td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    {$list->render()}
                </div>
                <div id="mygraph" style="height: 500px">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // create an array with nodes
//    var nodes = [
//        {id: 1, label: '北京',color: 'red',x: 0, y: 0,shape	:"box"},
//        {id: 2, label: '天津',x: 0, y: 200,shape	:"box"},
//        {id: 3, label: '津南',x: 200, y: 0,shape	:"box"},
//        {id: 4, label: '宝坻',x: 200, y: 200,shape	:"box"},
//        {id: 5, label: '廊坊',x: 200, y: 400,shape	:"box"}
//    ];
    var nodes = {$nodes};

    // create an array with edges
//    var edges = [
//        {from: 1, to: 2,style: 'arrow',label:'1'},
//        {from: 1, to: 3,style: 'arrow',label:'21'},
//        {from: 2, to: 4,style: 'arrow',label:'3'},
//        {from: 2, to: 5,style: 'arrow',label:'4'}
//    ];
    var edges = {$edges};

    // create a graph
    var container = document.getElementById('mygraph');
    var data= {
        nodes: nodes,
        edges: edges
    };
    var options = {
        height: '400px',
        dashes:true
    };
    var graph = new vis.Graph(container, data, options);
</script>